dataSources:
  shardwallet1:
    jdbcUrl: jdbc:mysql://localhost:3306/shardwallet1?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    username: YOUR_DB_USERNAME
    password: YOUR_DB_PASSWORD
    driverClassName: com.mysql.cj.jdbc.Driver
    dataSourceClassName: com.zaxxer.hikari.HikariDataSource

  shardwallet2:
    jdbcUrl: jdbc:mysql://localhost:3306/shardwallet2?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    username: YOUR_DB_USERNAME
    password: YOUR_DB_PASSWORD
    driverClassName: com.mysql.cj.jdbc.Driver
    dataSourceClassName: com.zaxxer.hikari.HikariDataSource

rules:
  - !SHARDING
    defaultDatabaseStrategy:
      standard:
        shardingColumn: id
        shardingAlgorithmName: db-inline

    tables:
      user:
        actualDataNodes: shardwallet${1..2}.user
        databaseStrategy:
          standard:
            shardingColumn: id
            shardingAlgorithmName: db-inline
        keyGenerateStrategy:
          column: id
          keyGeneratorName: snowflakestrategy

      wallet:
        actualDataNodes: shardwallet${1..2}.wallet
        databaseStrategy:
          standard:
            shardingColumn: user_id
            shardingAlgorithmName: db-inline-user-id
        keyGenerateStrategy:
          column: id
          keyGeneratorName: snowflakestrategy

      transaction:
        actualDataNodes: shardwallet${1..2}.transaction
        databaseStrategy:
          standard:
            shardingColumn: id
            shardingAlgorithmName: db-inline
        keyGenerateStrategy:
          column: id
          keyGeneratorName: snowflakestrategy

      saga_instance:
        actualDataNodes: shardwallet${1..2}.saga_instance
        databaseStrategy:
          standard:
            shardingColumn: id
            shardingAlgorithmName: db-inline
        keyGenerateStrategy:
          column: id
          keyGeneratorName: snowflakestrategy

      saga_step:
        actualDataNodes: shardw
